.list-product {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f0f0f0;
    margin-left:250px ;
    margin-top:-700px;
    overflow-y: auto;

}

.table-container {
    overflow-x: auto;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.product-table th, .product-table td {
    padding: 8px 16px;
    text-align: center;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.listproduct-product-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.listproduct-remove-icon {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
